/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  background: black;
  color: #ddd;
  font-size: 24px;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
